<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <appSettings>
    <!-- Service Bus specific app setings for messaging connections -->
    <add key="Microsoft.ServiceBus.ConnectionString"
         value="Endpoint=sb://hackathon-eshop2017.servicebus.windows.net/;SharedAccessKeyName=ServiceListener;SharedAccessKey=/LZwwnRNuqVfbKuFx6XOI0QaOk3/+XXdBNebYOl/IPg="/>
  </appSettings>
</configuration>
