@{
    ViewData["Title"] = "Audit Clear";
}

<h2>Audit</h2>

@if (Model == true)
{
    <p>All audit items cleared successfully.</p>
}
else
{
    <p>Oops! Something went wrong while clearing audit items.</p>
}
<p>Click @Html.ActionLink("here", "Index") to return.</p>