@model PNI.EShop.Web.Models.AuditViewModel

@{
    ViewData["Title"] = "Audit Page";
}

<h2>Audit</h2>
@foreach (var audit in Model.AuditList)
{
    <p>@audit</p>
}

@if (!Model.AuditList.Any())
{
    <p>No audit items found.</p>
}



@Html.ActionLink("Clear All", "Clear")